.main_content {
  width: 272px;
  height: 600px;
  background-image: url(../images/3.jpg);
  background-repeat: no-repeat;
  color: #333;
  font-family: \5FAE\8F6F\96C5\9ED1;
  position: relative;
  margin: auto;
}
.main_content * {
  box-sizing: border-box;
}
.main_content .one_you_box {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 400px;
}
.main_content .lt_title {
  width: 100%;
  height: 60px;
  padding: 0 10px;
}
.main_content .lt_title .top_title {
  padding-bottom: 10px;
}
.main_content .lt_title .top_title .close {
  float: right;
}
.main_content .lt_title .top_title .close:hover {
  color: red;
  cursor: pointer;
}
.main_content .lt_title .top_title .line_state {
  padding-left: 10px;
}
.index {
  background: url("../images/2zrdI1g.jpg");
}
#login_box {
  position: relative;
}
#login_box .login_title {
  font-size: 18px;
  padding: 20px 20px 20px 260px;
}
#login_box .register,
#login_box .login {
  position: absolute;
  width: 100%;
}
.layui-tab-title li {
  min-width: 90px;
}
.layui-layer-title {
  height: 10px;
  background-color: #D6D6D6;
  border: none;
}
body .login_box {
  padding: 0 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.58);
}
body .login_box .layui-layer-title {
  height: 10px;
  border: none;
}
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.text_left {
  text-align: left;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.75s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
