<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            {{msg.test}}
        </div>
    </div>

    <!--引入四个 js文件-->
    <script src="../../js/plugins/sea.js"></script>
    <script src="../../js/plugins/strophe-1.2.8.min.js"></script>
    <script src="../../js/plugins/webim.config.js"></script>
    <script src="../../js/plugins/websdk-1.4.13.js"></script>
    <script src="../../js/ui/index.js"></script>
    <script>
      seajs.use("../../js/ui/index.js");
    </script>
</body>
</html>